.black {
    color: #212121;
}

.black-2 {
    color: black;
}

.white {
    color: #F2F4F3;
}

.brown {
    color: #6F2B06;
}

.dark-grey {
    color: #646464;
}

.bg-brown {
    background-color: #6F2B06;
}

.bg-green {
    background-color: #414E3F;
}

.bg-grey {
    background-color: #CCCCCC;
}

.bg-black {
    background-color: #212121;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-white-cards {
    background-color: #ffffff;
    opacity: 90%;
}