* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    overflow-x: hidden;
}

main {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image:url(../assets/details-pg-images/victoria-shes-cMrLNX24eI0-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
}

.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

header > nav {
    width: 100%;
    height: 60px;
}

.first-Header-div {
    width: 40%;
}

.Second-Header-div {
    width: 20%;
}

.Second-Header-div a {
    color: #F2F4F3;
    text-decoration: none;
}

.landing-sec {
    position: relative;
    text-align: center;
    inset: 0;
}

.cover-img {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url(../assets/details-pg-images/main-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

.landing-sec h1{
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
}
.landing-sec h2{
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

.restaurant-details {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 90%;
}

.restaurant-details h2{
    text-align: center;
}

.details-row {
    margin: 10px auto;
}

.details-label {
    font-weight: bold;
}

.menu-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 90%;
}

.menu-section h2{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.menu-category {
    flex: 1;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-category h3 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.menu-category p {
    margin: 5px 0;
    font-style: italic;
}

footer {
    margin-top: 0;
    height: 300px;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer li {
    color: #FFFFFF;
}

.footer-sec-1 {
    height: 50px;
    width: 100%;
    word-wrap: break-word;
    margin: 30px;
    font-size: small;
    color: #b6b6b6;
}

.footer-sec-2 {
    height: 250px;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

.footer-sec-2 img {
    width: 200px;
    height: auto;
}

.footer-sec-2-cards {
    margin: 5px;
    padding: 2rem;
    border-radius: .35rem;
    overflow: hidden;
    align-content: center;
    text-align: center;
}

.footer-sec-3 {
    padding: 40px 70px;
    height: auto;
    width: 100%;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.footer-sec-3 a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .restaurant-details {
        padding: 10px;
    }

    .details-row {
        flex-direction: column;
        margin-bottom: 5px;
    }

    .details-label {
        margin-bottom: 5px;
    }
}

@media (max-width: 768px) {
    .menu-category {
        margin-bottom: 10px;
    }

    .menu-category h3 {
        font-size: 1em;
    }

    .menu-category p {
        font-size: 0.8em;
    }
}