* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    overflow-x: hidden;
}

main {
    margin: 0;
    padding: 0;
}

.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

header > nav {
    width: 100%;
    height: 60px;
}

.first-Header-div {
    width: 40%;
}

.Second-Header-div {
    width: 20%;
}

.Second-Header-div a {
    color: #F2F4F3;
    text-decoration: none;
}

.landing-sec {
    position: relative;
    text-align: center;
    inset: 0;
}

.cover-img {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url(../assets/images/madie-hamilton-dZ-HI4EuWcA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

.landing-sec h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
}

.resto-picks {
    width: 100%;
    max-height: 30%;
}

.resto-picks img {
    width: 100px;
    height: auto;
}

.resto-picks h2 {
    font-size: 40px;
    font-weight: bold;
}

.resto-picks-first-div {
    max-height: 10%;
    padding-top: 10px;
    overflow: hidden;
    font-size: 20px;
    font-weight: 600;
}

.resto-picks-scnd-div {
    max-height: 20%;
    width: 100%;
    margin: 30px 40px;
    overflow: hidden;
}

.resto-picks-cards {
    min-height: 400px;
    width: 20%;
    margin: 10px;
    padding: 2rem;
    border-radius: 15px;
    overflow: hidden;
    align-content: center;
    text-align: center;
}

/* .resto-picks-cards:hover {
    background-color: rgba(184, 230, 246, 0.374);
    transition-delay: 80ms ;
    transition-duration: 250ms;
} */

.resto-picks-scnd-div h3 p a{
    word-wrap: break-word;
    text-align: center;
    font-weight: bolder;
}

.resto-picks-scnd-div h3{
    margin-top: 0;
}
.resto-picks-scnd-div p{
    margin-bottom: 0;
}

.resto-container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image:url(../assets/images/black-wood.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
}

.resto-container-first-div {
    width: 100%;
    max-height: 10%;
    padding-top: 30px;
    overflow: relative;
    font-size: 20px;
    font-weight: 600;
}

.resto-container-scnd-div {
    max-height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.resto-cont-card {
    height: 400px;
    width: 60%;
    padding: 2rem;
    margin: 30px;
    border-radius: 15px;
    overflow: relative;
    text-align: center;
    opacity: 90%;
}

.search-container {
    width: 300px;
}
  
input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
}
  
button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
  
button:hover {
    background-color: #0056b3;
}

.filter-container {
    justify-content: center;
    margin-bottom: 20px;
  }
  
.filter-container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
.filter-container label {
    margin-right: 10px;
  }
  
.filter-container select {
    padding: 5px;
    margin-right: 10px;
    border-radius: 15px;
  }
  
.filter-container button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filter-container button:hover {
    background-color: #0056b3;
}

.restaurant-info {
    margin-bottom: 20px;
  }
  
  .restaurant-info img {
    width: 400px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
  }

.restaurant-info span {
    font-weight: bold;
  }
  
.review-section {
    border-radius: 4px;
  }
  
  .review-section h2 {
    font-size: 20px;
  }
  
  .review-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .review-section li {
    border-bottom: 1px solid #ddd;
  }
  
  .review-section li:last-child {
    border-bottom: none;
  }
  
  .review-section p {
    font-style: italic;
  }
  
  .review-section span {
    font-weight: bold;
  }

.review-info {
    text-align: left;
  }

  footer {
    margin-top: 0;
    height: 300px;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer {
    margin-top: 0;
    height: 300px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.footer-sec-1 {
    height: 50px;
    width: 100%;
    word-wrap: break-word;
    margin: 30px;
    font-size: small;
}

.footer-sec-2 {
    height: 250px;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

.footer-sec-2-cards {
    margin: 5px;
    padding: 2rem;
    border-radius: .35rem;
    overflow: hidden;
    align-content: center;
    text-align: center;
}

.footer-sec-2-cards li{
    padding: 2px;
}

.footer-sec-3 {
    padding: 40px 70px;
    height: auto;
    width: 100%;
    align-items: center;
    text-align: center;
    overflow: hidden;
}